@import "@ng-select/ng-select/themes/default.theme.css";
@import "ngx-toastr/toastr";

:root {
  --input-margin: 15px 0px 15px 0px;
}

.input-box {
  margin: var(--input-margin);
  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  input {
    width: 100%;
    height: 36px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 10px;
    &:focus-visible {
      outline: none;
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}

.errormsg {
  label {
    font-size: 12px !important;
    font-weight: 600;
  }
}

.select-box {
  margin: var(--input-margin);
  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
}

.btn-style {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 36px;
  min-width: 80px;
  padding: 0% 1% 0% 1%;
  color: white;
  display: block;
}

.icon-btn {
  background: white;
  border:none;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  :root {
    --input-margin: 15px 0px 10px 0px !important;
  }
}
