<section class="zone-roof-section">
  <div class="row mx-0 px-0">
    <h3 class="col-12 mt-4 mb-lg-4 mb-md-2 d-flex justify-content-between">
      Roofs &nbsp;&nbsp;
      <button
        class="ms-2 icon-btn"
        (click)="addNewRoof()"
      >
        <img src="/assets/icons/plus.svg" width="30px" alt="" />
      </button>
    </h3>
    <form [formGroup]="zoneRoofForm">
      <div formArrayName="roofs" class="">
        <div *ngFor="let roofItem of roofsObj?.controls; let roofIndex = index;">
          <div
            [formGroupName]="roofIndex"
            class="row px-0 mx-0 mb-2 border px-1 pt-3 rounded-3 mb-3"
          >
            <div class="col-12 d-flex">
              <h5 class="mb-0">Roof ({{ roofIndex + 1 }})</h5>
              <button
                class="ms-2 icon-btn"
                (click)="removeFromFormArray(roofsObj, roofIndex)"
              >
                <img src="/assets/icons/delete.svg" alt="" />
              </button>
            </div>
            <div class="col-md-6">
              <div class="input-box">
                <label for="area"> Area </label>
                <input
                  formControlName="area"
                  type="number"
                  id="area"
                  placeholder="Area"
                />
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('area')?.touched ||
                      roofItem.get('area')?.dirty) &&
                    roofItem.get('area')?.invalid
                  "
                >
                  <label
                    for="area"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Area is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="select-box">
                <label for="roofType"> Roof Type </label>
                <ng-select
                  [items]="RootTypeOptions"
                  bindLabel="name"
                  [clearable]="false"
                  [closeOnSelect]="true"
                  bindValue="value"
                  placeholder="Roof Type"
                  id="roofType"
                  formControlName="roofType"
                >
                </ng-select>
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('roofType')?.touched ||
                      roofItem.get('roofType')?.dirty) &&
                    roofItem.get('roofType')?.invalid
                  "
                >
                  <label
                    for="roofType"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Roof Type is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="select-box">
                <label for="roofColor"> Roof Color </label>
                <ng-select
                  [items]="RoofColorOptions"
                  bindLabel="name"
                  [clearable]="false"
                  [closeOnSelect]="true"
                  bindValue="value"
                  placeholder="Roof Color"
                  id="roofColor"
                  formControlName="roofColor"
                >
                </ng-select>
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('roofColor')?.touched ||
                      roofItem.get('roofColor')?.dirty) &&
                    roofItem.get('roofColor')?.invalid
                  "
                >
                  <label
                    for="roofType"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Roof Color is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-box">
                <label for="solarAbsorptance"> Solar Absorptance </label>
                <input
                  formControlName="solarAbsorptance"
                  type="number"
                  id="solarAbsorptance"
                  placeholder="Solar Absorptance"
                />
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('solarAbsorptance')?.touched ||
                      roofItem.get('solarAbsorptance')?.dirty) &&
                    roofItem.get('solarAbsorptance')?.invalid
                  "
                >
                  <label
                    for="solarAbsorptance"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Solar Absorptance is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="select-box">
                <label for="radiantBarrier"> Radiant Barrier </label>
                <ng-select
                  [items]="BooleanOptions"
                  bindLabel="name"
                  [clearable]="false"
                  [closeOnSelect]="true"
                  bindValue="value"
                  placeholder="Radiant Barrier"
                  id="radiantBarrier"
                  formControlName="radiantBarrier"
                >
                </ng-select>
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('radiantBarrier')?.touched ||
                      roofItem.get('radiantBarrier')?.dirty) &&
                    roofItem.get('radiantBarrier')?.invalid
                  "
                >
                  <label
                    for="radiantBarrier"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Radiant Barrier is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="select-box">
                <label for="insulationMaterial"> Insulation Material </label>
                <ng-select
                  [items]="InsulationMaterialOptions"
                  bindLabel="name"
                  [clearable]="false"
                  [closeOnSelect]="true"
                  bindValue="value"
                  placeholder="Insulation Material"
                  id="insulationMaterial"
                  formControlName="insulationMaterial"
                >
                </ng-select>
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('insulationMaterial')?.touched ||
                      roofItem.get('insulationMaterial')?.dirty) &&
                    roofItem.get('insulationMaterial')?.invalid
                  "
                >
                  <label
                    for="insulationMaterial"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Insulation Material is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-box">
                <label for="nominalRValue"> Nominal R-Value </label>
                <input
                  formControlName="nominalRValue"
                  type="number"
                  id="nominalRValue"
                  placeholder="Nominal R-Value"
                />
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('nominalRValue')?.touched ||
                      roofItem.get('nominalRValue')?.dirty) &&
                    roofItem.get('nominalRValue')?.invalid
                  "
                >
                  <label
                    for="nominalRValue"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Nominal R-Value is required
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-box">
                <label for="assemblyEffectiveRValue"
                  >Assembly Effective R-Value
                </label>
                <input
                  formControlName="assemblyEffectiveRValue"
                  type="number"
                  id="assemblyEffectiveRValue"
                  placeholder="Assembly Effective R-Value"
                />
                <div
                  class="errormsg"
                  *ngIf="
                    (roofItem.get('assemblyEffectiveRValue')?.touched ||
                      roofItem.get('assemblyEffectiveRValue')?.dirty) &&
                    roofItem.get('assemblyEffectiveRValue')?.invalid
                  "
                >
                  <label
                    for="assemblyEffectiveRValue"
                    class="text-danger fw-semibold position-absolute"
                  >
                    Assembly Effective R-Value is required
                  </label>
                </div>
              </div>
            </div>
            <ng-container formArrayName = "insulationMaterialDynamicOptions">
              <ng-container *ngFor="let insulationMaterialOptions of insulationMaterialDynamicOptionsObj(roofIndex)?.controls;let insulationMaterialOptionsIndex = index;">
                <ng-container [formGroupName]="insulationMaterialOptionsIndex">
                  <div class="col-md-6">
                    <div class="select-box">
                      <label for="radiantBarrier"> {{insulationMaterialOptions.get('options')?.value?.label}} </label>
                      <ng-select
                        [items]="insulationMaterialOptions.get('options')?.value?.options"
                        bindLabel="name"
                        [clearable]="false"
                        [closeOnSelect]="true"
                        bindValue="value"
                        placeholder="insulationMaterialOptions.get('options')?.value?.placeHolder"
                        id="radiantBarrier"
                        [formControlName]="insulationMaterialOptions.get('options')?.value?.name"
                      >
                      </ng-select>
                      <div
                        class="errormsg"
                        *ngIf="
                          (insulationMaterialOptions.get(insulationMaterialOptions.get('options')?.value?.name)?.touched ||
                            insulationMaterialOptions.get(insulationMaterialOptions.get('options')?.value?.name)?.dirty) &&
                          insulationMaterialOptions.get(insulationMaterialOptions.get('options')?.value?.name)?.invalid
                        "
                      >
                        <label
                          for="radiantBarrier"
                          class="text-danger fw-semibold position-absolute"
                        >
                          {{insulationMaterialOptions.get('options')?.value?.errorMsg}}
                        </label>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
