<section class="about-section">
  <div
    class="rounded-3 border-danger px-lg-4 px-md-3 py-3 p-2 my-lg-5 my-md-3 my-2 error-box"
    *ngIf="errorList.length != 0"
  >
    <h5
      class="text-danger my-lg-3 my-2"
      *ngFor="let errorMsg of errorList; let i = index"
    >
      {{ i + 1 + ")   " + errorMsg }}
    </h5>
  </div>
  <form [formGroup]="aboutForm">
    <div class="row">
      <div class="col-md-6">
        <div class="select-box">
          <label class="required"> Residential Facility Type </label>
          <ng-select
            [items]="residentialFacilityTypeOptions"
            bindLabel="name"
            [clearable]="true"
            [closeOnSelect]="true"
            bindValue="value"
            placeholder="Residential Facility Type"
            id="residentialFacilityType"
            formControlName="residentialFacilityType"
          >
          </ng-select>
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['residentialFacilityType']?.touched ||
                aboutFormControl['residentialFacilityType']?.dirty) &&
              aboutFormControl['residentialFacilityType']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Residential Facility Type is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label class="required"> Year of Build </label>
          <input
            formControlName="yearBuilt"
            type="number"
            id="yearBuilt"
            placeholder="Year of Build"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['yearBuilt']?.touched ||
                aboutFormControl['yearBuilt']?.dirty) &&
              aboutFormControl['yearBuilt']?.invalid
            "
          >
            <label
              class="text-danger fw-semibold position-absolute"
              *ngIf="aboutFormControl['yearBuilt']?.errors?.['required']"
            >
              Year of Build is invalid
            </label>
            <label
              class="text-danger fw-semibold position-absolute"
              *ngIf="aboutFormControl['yearBuilt']?.errors?.['min'] || aboutFormControl['yearBuilt']?.errors?.['max']"
            >
              Year of Build is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label class="required"> Number of Bedrooms </label>
          <input
            formControlName="numberofBedrooms"
            type="number"
            id="numberofBedrooms"
            placeholder="Number of Bedrooms"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['numberofBedrooms']?.touched ||
                aboutFormControl['numberofBedrooms']?.dirty) &&
              aboutFormControl['numberofBedrooms']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Number of Bedrooms is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box" >
          <label class="required"> Number of Conditioned Floors Above Grade </label>
          <input
            formControlName="numberofConditionedFloorsAboveGrade"
            type="number"
            id="numberofConditionedFloorsAboveGrade"
            placeholder="Number of Conditioned Floors Above Grade"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['numberofConditionedFloorsAboveGrade']
                ?.touched ||
                aboutFormControl['numberofConditionedFloorsAboveGrade']
                  ?.dirty) &&
              aboutFormControl['numberofConditionedFloorsAboveGrade']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Number of Conditioned Floors Above Grade is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label>Average Ceiling Height </label>
          <input
            formControlName="averageCeilingHeight"
            type="number"
            id="averageCeilingHeight"
            placeholder="Average Ceiling Height "
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['averageCeilingHeight']?.touched ||
                aboutFormControl['averageCeilingHeight']?.dirty) &&
              aboutFormControl['averageCeilingHeight']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Average Ceiling Height is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label>Conditioned Building Volume</label>
          <input
            formControlName="conditionedBuildingVolume"
            type="number"
            id="conditionedBuildingVolume"
            placeholder="Conditioned Building Volume"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['conditionedBuildingVolume']?.touched ||
                aboutFormControl['conditionedBuildingVolume']?.dirty) &&
              aboutFormControl['conditionedBuildingVolume']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Conditioned Building Volume is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label>Conditioned Floor Area</label>
          <input
            formControlName="conditionedFloorArea"
            type="number"
            id="conditionedFloorArea"
            placeholder="Conditioned Floor Area"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['conditionedFloorArea']?.touched ||
                aboutFormControl['conditionedFloorArea']?.dirty) &&
              aboutFormControl['conditionedFloorArea']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Conditioned Floor Area is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <label>Azimuth Of Front Of Home</label>
          <input
            formControlName="azimuthOfFrontOfHome"
            type="number"
            id="azimuthOfFrontOfHome"
            placeholder="Azimuth Of Front Of Home"
          />
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['azimuthOfFrontOfHome']?.touched ||
                aboutFormControl['azimuthOfFrontOfHome']?.dirty) &&
              aboutFormControl['azimuthOfFrontOfHome']?.invalid
            "
          >
            <label
              class="text-danger fw-semibold position-absolute"
              *ngIf="aboutFormControl['azimuthOfFrontOfHome']?.errors?.['required']"
            >
              Azimuth Of Front Of Home is invalid
            </label>
            <label
              class="text-danger fw-semibold position-absolute"
              *ngIf="aboutFormControl['azimuthOfFrontOfHome']?.errors?.['min'] || aboutFormControl['azimuthOfFrontOfHome']?.errors?.['max']"
            >
              Azimuth Of Front Of Home is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="select-box">
          <label> Orientation Of Front Of Home </label>
          <ng-select
            [items]="orientationOfFrontOfHomeOptions"
            bindLabel="name"
            [clearable]="true"
            [closeOnSelect]="true"
            bindValue="value"
            placeholder="Orientation Of Front Of Home"
            id="orientationOfFrontOfHome"
            formControlName="orientationOfFrontOfHome"
          >
          </ng-select>
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['orientationOfFrontOfHome']?.touched ||
                aboutFormControl['orientationOfFrontOfHome']?.dirty) &&
              aboutFormControl['orientationOfFrontOfHome']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Orientation Of Front Of Home is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="enableManufacturedHome">
        <div class="select-box">
          <label> Manufactured Home Sections </label>
          <ng-select
            [items]="manufacturedHomeSectionsOptions"
            bindLabel="name"
            [clearable]="true"
            [closeOnSelect]="true"
            bindValue="value"
            placeholder="Manufactured Home Sections"
            id="manufacturedHomeSections"
            formControlName="manufacturedHomeSections"
          >
          </ng-select>
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['manufacturedHomeSections']?.touched ||
                aboutFormControl['manufacturedHomeSections']?.dirty) &&
              aboutFormControl['manufacturedHomeSections']?.invalid
            "
          >
            <label class="text-danger fw-semibold position-absolute">
              Manufactured Home Sections is invalid
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="input-box">
          <label> Comments </label>
          <textarea
            formControlName="comments"
            type="text"
            id="comments"
            placeholder="Comments"
          ></textarea>
          <div
            class="errormsg"
            *ngIf="
              (aboutFormControl['comments']?.touched ||
                aboutFormControl['comments']?.dirty) &&
              aboutFormControl['comments']?.invalid
            "
          >
            <label
              class="text-danger fw-semibold position-absolute"
              *ngIf="aboutFormControl['comments']?.errors?.['required']"
            >
              Comments is invalid
            </label>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-4 mb-lg-4 mb-md-2 d-flex justify-content-between">
      Air Infiltration Measurements &nbsp;&nbsp;
      <button
        class="ms-2 icon-btn"
        [disabled]=""
        (click)="addAirInfiltrationInput()"
      >
        <img src="/assets/icons/plus.svg" width="30px" alt="" />
      </button>
    </h3>
    <div formArrayName="airInfiltrationMeasurements">
      <div
        class="mb-4"
        *ngFor="
          let infiltration of airInfiltrationMeasurementsObj?.controls;
          let i = index
        "
      >
        <div class="row" [formGroupName]="i">
          <div class="col-12 d-flex">
            <h5 class="mb-0">Air Infiltration ({{ i + 1 }})</h5>
            <button
              class="ms-2 icon-btn"
              (click)="removeAirInfiltrationInput(i)"
            >
              <img src="/assets/icons/delete.svg" alt="" />
            </button>
          </div>
          <div class="col-md-6">
            <div class="select-box">
              <label> House Pressure </label>
              <ng-select
                [items]="housePressureOptions"
                bindLabel="name"
                [clearable]="true"
                [closeOnSelect]="true"
                bindValue="value"
                placeholder="House Pressure"
                id="housePressure"
                formControlName="housePressure"
              >
              </ng-select>
              <div
                class="errormsg"
                *ngIf="
                  (infiltration.get('housePressure')?.touched ||
                    infiltration.get('housePressure')?.dirty) &&
                  infiltration.get('housePressure')?.invalid
                "
              >
                <label class="text-danger fw-semibold position-absolute">
                  House Pressure is invalid
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="select-box">
              <label> Unit of Measure </label>
              <ng-select
                [items]="unitofMeasureOptions"
                bindLabel="name"
                [clearable]="true"
                [closeOnSelect]="true"
                bindValue="value"
                placeholder="Unit of Measure"
                id="unitofMeasure"
                formControlName="unitofMeasure"
              >
              </ng-select>
              <div
                class="errormsg"
                *ngIf="
                  (infiltration.get('unitofMeasure')?.touched ||
                    infiltration.get('unitofMeasure')?.dirty) &&
                  infiltration.get('unitofMeasure')?.invalid
                "
              >
                <label class="text-danger fw-semibold position-absolute">
                  Unit of Measure is invalid
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="select-box">
              <label> Air Sealing </label>
              <ng-select
                [items]="booleanOptions"
                bindLabel="name"
                [clearable]="true"
                [closeOnSelect]="true"
                bindValue="value"
                placeholder="Air Sealing"
                id="airSealing"
                formControlName="airSealing"
              >
              </ng-select>
              <div
                class="errormsg"
                *ngIf="
                  (infiltration.get('airSealing')?.touched ||
                    infiltration.get('airSealing')?.dirty) &&
                  infiltration.get('airSealing')?.invalid
                "
              >
                <label class="text-danger fw-semibold position-absolute">
                  Air Sealing is invalid
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-box">
              <label> Air Leakage </label>
              <input
                formControlName="airLeakage"
                type="number"
                id="airLeakage"
                placeholder="Air Leakage"
              />
              <div
                class="errormsg"
                *ngIf="
                  (infiltration.get('airLeakage')?.touched ||
                    infiltration.get('airLeakage')?.dirty) &&
                  infiltration.get('airLeakage')?.invalid
                "
              >
                <label class="text-danger fw-semibold position-absolute">
                  Air Leakage is invalid
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="select-box">
              <label> Leakiness Description </label>
              <ng-select
                [items]="leakinessDescriptionOptions"
                bindLabel="name"
                [clearable]="true"
                [closeOnSelect]="true"
                bindValue="value"
                placeholder="Leakiness Description"
                id="leakinessDescription"
                formControlName="leakinessDescription"
              >
              </ng-select>
              <div
                class="errormsg"
                *ngIf="
                  (infiltration.get('leakinessDescription')?.touched ||
                    infiltration.get('leakinessDescription')?.dirty) &&
                  infiltration.get('leakinessDescription')?.invalid
                "
              >
                <label class="text-danger fw-semibold position-absolute">
                  Leakiness Description is invalid
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end gap-3">
      <button class="bg-primary btn-style" (click)="onSubmit()">Submit</button>
      <button type="button" class="bg-secondary btn-style" (click)="goNext()">
        <!-- [disabled]="!enableNext" -->
        Next
      </button>
    </div>
  </form>
</section>
